body {
    background-color: rgb(51, 42, 74);
}

.buttons {
    text-align: center;
}

.button {
    font-family: "Lucida Console", 	"Courier New", monospace;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid rgba(255, 255, 255);
    background-color: rgb(49, 25, 72);
    box-shadow: 1px 1px 2px rgba(49, 49, 185);
    color: rgb(211, 205, 225);
    border-radius: 10px 10px;
    padding: 10px;
    cursor: pointer;
}

h1 {
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 70px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(137, 115, 200);
}

h3 {
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(224, 219, 237);
}

p {
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(172, 160, 202);
}

ul, li {
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(212, 205, 229);
}

table, tr, td {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(212, 205, 229);
    border: 2px solid rgb(204, 184, 219);
    border-collapse: collapse;
}

th {
    border: 2.5px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

.song {
    text-align: center;
}

.video {
    text-align: center;
}